Repository Link-MIND/Toaster_Android, pull requests merged in 2024-01, with the labels that each got.

#14 Feature/#11 design system
  feature/mainfeature/src/main/res/font/font_suit_bold.xml
  feature/mainfeature/src/main/res/font/font_suit_extrabold.xml
  feature/mainfeature/src/main/res/font/font_suit_medium.xml
  feature/mainfeature/src/main/res/font/font_suit_regular.xml
  feature/mainfeature/src/main/res/font/font_suit_semibold.xml
  feature/mainfeature/src/main/res/font/suit_bold.otf
  feature/mainfeature/src/main/res/font/suit_extrabold.otf
  feature/mainfeature/src/main/res/font/suit_medium.otf
  feature/mainfeature/src/main/res/font/suit_regular.otf
  feature/mainfeature/src/main/res/font/suit_semibold.otf
  feature/mainfeature/src/main/res/values/colors.xml
  feature/mainfeature/src/main/res/values/typography.xml
Labels: 채은, ➕ [ADD], 💟 [UI]

#22 Feature/#12 refactor UI
  core/ui/build.gradle.kts
  core/ui/src/main/java/org/sopt/ui/base/BindingActivity.kt
  core/ui/src/main/java/org/sopt/ui/base/BindingDialogFragment.kt
  core/ui/src/main/java/org/sopt/ui/base/BindingFragment.kt
  feature/mainfeature/src/main/res/drawable/ic_clip_unclicked.xml
  feature/mainfeature/src/main/res/drawable/ic_home_unclicked.xml
  feature/mainfeature/src/main/res/drawable/ic_my_unclicked.xml
  feature/mainfeature/src/main/res/drawable/ic_timer_unclicked.xml
  feature/mainfeature/src/main/res/drawable/sel_bnv_clip.xml
  feature/mainfeature/src/main/res/drawable/sel_bnv_home.xml
  feature/mainfeature/src/main/res/drawable/sel_bnv_my.xml
  feature/mainfeature/src/main/res/drawable/sel_bnv_text_color.xml
  feature/mainfeature/src/main/res/drawable/sel_bnv_timer.xml
  feature/mainfeature/src/main/res/layout/activity_main.xml
  feature/mainfeature/src/main/res/menu/main_nav_menu.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI]

#28 Feature/#27 feat splash
  feature/mainfeature/src/main/AndroidManifest.xml
  feature/mainfeature/src/main/java/org/sopt/mainfeature/SplashActivity.kt
  feature/mainfeature/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI]

#25 Feature/#20 mypage UI
  feature/mainfeature/build.gradle.kts
  feature/mainfeature/src/main/res/drawable/ic_gnb_back_24.xml
  feature/mainfeature/src/main/res/drawable/ic_setting_24.xml
  feature/mainfeature/src/main/res/drawable/img_toast.jpg
  feature/mainfeature/src/main/res/drawable/shape_neutrals050_line_12_rect.xml
  feature/mainfeature/src/main/res/drawable/shape_neutrals100_line_line.xml
  feature/mainfeature/src/main/res/layout/fragment_my.xml
  feature/mainfeature/src/main/res/values/strings.xml
  feature/mainfeature/src/main/res/values/typography.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ⭐ [FEAT], 채은, 💟 [UI]

#35 Feature/#29 clip, clip detail 뷰 / UI 구현
  feature/mainfeature/src/main/res/drawable/ic_arrow_18_svg.xml
  feature/mainfeature/src/main/res/drawable/ic_meatballs_24.xml
  feature/mainfeature/src/main/res/drawable/img_clip_empty.png
  feature/mainfeature/src/main/res/drawable/img_link_empty.png
  feature/mainfeature/src/main/res/drawable/img_link_thumb.png
  feature/mainfeature/src/main/res/layout/fragment_clip.xml
  feature/mainfeature/src/main/res/layout/fragment_clip_detail.xml
  feature/mainfeature/src/main/res/layout/item_clip_clip.xml
  feature/mainfeature/src/main/res/layout/item_clip_detail_link.xml
  feature/mainfeature/src/main/res/layout/toolbar_clip.xml
  feature/mainfeature/src/main/res/menu/menu_clip_tb.xml
  feature/mainfeature/src/main/res/values/colors.xml
  feature/mainfeature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI]

#37 Feature/#36 clip toolbar UI
  feature/mainfeature/src/main/res/drawable/ic_arrow_left_24.xml
  feature/mainfeature/src/main/res/layout/toolbar_clip_detail.xml
  feature/mainfeature/src/main/res/layout/toolbar_clip_frg.xml
  feature/mainfeature/src/main/res/values/strings.xml
Labels: 민영, 💟 [UI]

#40 Feature/#39 clip edit 뷰 / UI 구현
  feature/mainfeature/src/main/res/drawable/ic_edit_24.xml
  feature/mainfeature/src/main/res/drawable/ic_minus_28.xml
  feature/mainfeature/src/main/res/layout/fragment_clip_edit.xml
  feature/mainfeature/src/main/res/layout/item_clip_edit_clip.xml
  feature/mainfeature/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI]

#43 Feature/#37 setting UI
  feature/mainfeature/src/main/java/org/sopt/mainfeature/settings/SettingsFragment.kt
  feature/mainfeature/src/main/res/drawable/shape_neutrals050_fill_12_rect.xml
  feature/mainfeature/src/main/res/layout/fragment_settings.xml
  feature/mainfeature/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 채은, 💟 [UI]

#50 Feature/#45 navigation set
  core/ui/build.gradle.kts
  core/ui/src/main/java/org/sopt/ui/DeepLinkUtil.kt
  feature/maincontainer/src/main/java/org/sopt/maincontainer/MainActivity.kt
  feature/mypage/src/main/res/navigation/nav_graph_mypage.xml
Labels: ⭐ [FEAT], 삭

#52 Feature/#51 home UI
  core/designsystem/src/main/java/designsystem/components/bottomsheet/LinkMindBottomSheet.kt
  core/designsystem/src/main/res/drawable/ic_ellipse_99.xml
  core/designsystem/src/main/res/drawable/ic_home_clip_20.xml
  core/designsystem/src/main/res/drawable/ic_plus_white_24.xml
  core/designsystem/src/main/res/drawable/img_toaster.png
  core/designsystem/src/main/res/layout/bottom_sheet_dialog_linkmind.xml
  core/designsystem/src/main/res/layout/progress_bar_linkmind.xml
  core/designsystem/src/main/res/values/strings.xml
  core/designsystem/src/main/res/values/typography.xml
  feature/home/build.gradle.kts
  feature/home/src/main/java/org/sopt/home/ClipDummy.kt
  feature/home/src/main/java/org/sopt/home/HomeFragment.kt
  feature/home/src/main/java/org/sopt/home/ItemDecoration.kt
  feature/home/src/main/java/org/sopt/home/WeekLinkDummy.kt
  feature/home/src/main/java/org/sopt/home/adapter/HomeClipAdapter.kt
  feature/home/src/main/java/org/sopt/home/adapter/HomeWeekLinkAdapter.kt
  feature/home/src/main/java/org/sopt/home/adapter/HomeWeekRecommendLinkAdapter.kt
  feature/home/src/main/java/org/sopt/home/viewholder/HomeCliprViewHolder.kt
  feature/home/src/main/java/org/sopt/home/viewholder/HomeWeekLinkViewHolder.kt
  feature/home/src/main/java/org/sopt/home/viewholder/HomeWeekRecommendLinkViewHolder.kt
  feature/home/src/main/res/drawable/shape_test.xml
  feature/home/src/main/res/layout/fragment_home.xml
  feature/home/src/main/res/layout/item_home_clip.xml
  feature/home/src/main/res/layout/item_week_link.xml
  feature/home/src/main/res/layout/item_week_recommend_link.xml
  feature/home/src/main/res/values/dimen.xml
  feature/maincontainer/src/main/java/org/sopt/maincontainer/MainActivity.kt
  feature/timer/src/main/res/layout/fragment_time_picker.xml
  feature/timer/src/main/res/layout/fragment_timer.xml
Labels: ⭐ [FEAT], 💟 [UI], 삭

#58 Feature/#54 link store
  app/src/main/AndroidManifest.xml
  core/designsystem/src/main/java/designsystem/components/edittext/LinkMindEditTextBox.kt
  core/designsystem/src/main/res/layout/edit_text_box_linkmind.xml
  feature/maincontainer/build.gradle.kts
  feature/maincontainer/src/main/java/org/sopt/maincontainer/MainActivity.kt
  feature/maincontainer/src/main/res/layout/activity_main.xml
  feature/maincontainer/src/main/res/navigation/nav_graph.xml
  feature/savelink/.gitignore
  feature/savelink/build.gradle.kts
  feature/savelink/consumer-rules.pro
  feature/savelink/src/main/AndroidManifest.xml
  feature/savelink/src/main/java/org/sopt/savelink/ui/SaveLinkFragment.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/SaveLinkSetClipFragment.kt
  feature/savelink/src/main/res/layout/fragment_save_link.xml
  feature/savelink/src/main/res/layout/fragment_save_link_set_clip.xml
  feature/savelink/src/main/res/navigation/nav_graph_save_link.xml
  settings.gradle.kts
Labels: ⭐ [FEAT], 💟 [UI], 삭

#49 Feature/#42 search UI
  core/designsystem/src/main/res/drawable/img_mypage_alarm.png
  core/designsystem/src/main/res/drawable/img_mypage_profile.png
  core/designsystem/src/main/res/drawable/img_search_none_result.png
  feature/mypage/src/main/res/layout/fragment_my.xml
  feature/mypage/src/main/res/layout/fragment_search.xml
  feature/mypage/src/main/res/layout/item_search_result_clip.xml
  feature/mypage/src/main/res/layout/item_search_result_detail_clip.xml
  feature/mypage/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 채은, 💟 [UI]

#56 Feature/#55 refactor kakao
  data/oauthdata/src/main/java/org/sopt/oauthdata/interactor/KakaoAuthInteractor.kt
Labels: ✅ [MOD],  ♻️ [REFACTOR], 상욱

#63 Feature/#60 search result
  feature/mypage/src/main/java/org/sopt/mypage/search/ClipResultDummy.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/LinkResultDummy.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/MatchingResult.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchViewModel.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/adapter/ClipResultAdapter.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/adapter/LinkResultAdapter.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/ClipResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/LinkResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/settings/SettingsFragment.kt
  feature/mypage/src/main/res/layout/fragment_search.xml
  feature/mypage/src/main/res/layout/item_search_result_clip.xml
  feature/mypage/src/main/res/layout/item_search_result_clip_link.xml
  feature/mypage/src/main/res/layout/item_search_result_detail_clip.xml
  feature/mypage/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 채은, 💟 [UI]

#72 Feature/#69 clip refactor
  feature/clip/src/main/java/org/sopt/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/ClipsDTO.kt
  feature/clip/src/main/java/org/sopt/clip/LinkDTO.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipDetailFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipLinkAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipLinkViewHolder.kt
  feature/clip/src/main/res/drawable/shape_grey050_fill_12_rect.xml
  feature/clip/src/main/res/drawable/shape_grey050_fill_8_rect.xml
  feature/clip/src/main/res/drawable/shape_red_fill_8_rect.xml
  feature/clip/src/main/res/drawable/shape_white_fill_12_rect.xml
  feature/clip/src/main/res/drawable/shape_white_fill_8_rect.xml
  feature/clip/src/main/res/layout/fragment_clip.xml
  feature/clip/src/main/res/layout/fragment_clip_detail.xml
  feature/clip/src/main/res/layout/item_clip_clip.xml
  feature/clip/src/main/res/layout/item_clip_detail_link.xml
  feature/mypage/src/main/java/org/sopt/mypage/search/MatchingResult.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchViewModel.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/ClipResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/LinkResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/settings/SettingsFragment.kt
Labels: ⭐ [FEAT], 민영,  ♻️ [REFACTOR]

#75 Feature/#73 refactor clip detail
  app/src/main/AndroidManifest.xml
  core/designsystem/src/main/res/values/strings.xml
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipDetailFragment.kt
  feature/clip/src/main/res/layout/fragment_clip_detail.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI],  ♻️ [REFACTOR]

#79 Feature/#74 search result
  feature/clip/src/main/res/navigation/nav_graph_clip.xml
  feature/mypage/src/main/java/org/sopt/mypage/my/MyFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchViewModel.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/adapter/ClipResultAdapter.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/adapter/LinkResultAdapter.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/util/TextStylerExt.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/ClipResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/LinkResultViewHolder.kt
  feature/mypage/src/main/res/layout/fragment_search.xml
  feature/mypage/src/main/res/layout/item_search_result_clip.xml
Labels: ⭐ [FEAT], 채은, 💟 [UI]

#88 [mod] : #82 마이 페이지 뷰 수정
  feature/mypage/src/main/res/layout/fragment_my.xml
  feature/mypage/src/main/res/values/strings.xml
Labels: 채은, ✅ [MOD], 💟 [UI]

#94 Feature/#87 timer api module
  app/build.gradle.kts
  core/model/src/main/java/org/sopt/model/timer/Timer.kt
  core/network/src/main/java/org/sopt/network/authenticator/LinkMindAuthenticator.kt
  data-remote/timer/.gitignore
  data-remote/timer/build.gradle.kts
  data-remote/timer/consumer-rules.pro
  data-remote/timer/src/main/AndroidManifest.xml
  data-remote/timer/src/main/java/org/sopt/timerremote/api/TimerService.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/di/ApiModule.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/di/DataSourceModule.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/source/TimerRemoteDataSourceImpl.kt
  data/timer/.gitignore
  data/timer/build.gradle.kts
  data/timer/consumer-rules.pro
  data/timer/src/main/AndroidManifest.xml
  data/timer/src/main/java/org/sopt/timer/di/RepositoryModule.kt
  data/timer/src/main/java/org/sopt/timer/model/remote/ResponseGetTimerPageDto.kt
  data/timer/src/main/java/org/sopt/timer/repository/TimerRepositoryImpl.kt
  data/timer/src/main/java/org/sopt/timer/source/local/TimerLocalDataSource.kt
  data/timer/src/main/java/org/sopt/timer/source/remote/TimerRemoteDataSource.kt
  domain/timer/.gitignore
  domain/timer/build.gradle.kts
  domain/timer/src/main/java/org/sopt/timer/repository/TimerRepository.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/GetTimerMainUseCase.kt
  feature/timer/build.gradle.kts
  feature/timer/src/main/java/org/sopt/timer/TimerFragment.kt
  feature/timer/src/main/java/org/sopt/timer/TimerViewModel.kt
  settings.gradle.kts
Labels: ⭐ [FEAT], 상욱

#78 Feature/#76 #77 뷰 이동, listView
  feature/clip/src/main/java/org/sopt/clip/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipDetailFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewHolder.kt
  feature/clip/src/main/res/layout/fragment_clip.xml
  feature/clip/src/main/res/layout/fragment_clip_detail.xml
  feature/clip/src/main/res/layout/fragment_clip_edit.xml
  feature/clip/src/main/res/layout/item_clip_edit_clip.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI], 🔨 [FIX]

#97 Feature/#96 refactor clip
  feature/clip/src/main/java/org/sopt/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/SelectedToggle.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipDetailFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipLinkViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewHolder.kt
  feature/clip/src/main/res/navigation/nav_graph_clip.xml
Labels: ⭐ [FEAT], 민영,  ♻️ [REFACTOR]

#99 Feature/#92 link service / nav
  app/build.gradle.kts
  core/designsystem/src/main/java/designsystem/components/bottomsheet/LinkMindBottomSheet.kt
  core/model/src/main/java/org/sopt/model/category/CategoryList.kt
  core/model/src/main/java/org/sopt/model/sample/Sample.kt
  core/ui/src/main/java/org/sopt/ui/nav/DeepLinkUtil.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/datasource/RemoteCategoryDataSourceImpl.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/di/CategoryDataSourceModule.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/di/CategoryServiceModule.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/response/ResponseCategoryDto.kt
  data-remote/link/.gitignore
  data-remote/link/build.gradle.kts
  data-remote/link/consumer-rules.pro
  data-remote/link/src/main/AndroidManifest.xml
  data-remote/link/src/main/java/org/sopt/remote/link/api/LinkService.kt
  data-remote/link/src/main/java/org/sopt/remote/link/datasource/RemoteLinkDataSourceImpl.kt
  data-remote/link/src/main/java/org/sopt/remote/link/di/LinkDataSourceModule.kt
  data-remote/link/src/main/java/org/sopt/remote/link/di/LinkServiceModule.kt
  data-remote/link/src/main/java/org/sopt/remote/link/request/RequestIsReadDto.kt
  data-remote/link/src/main/java/org/sopt/remote/link/response/ResponseIsReadDto.kt
  data/category/src/main/java/org/sopt/data/category/datasource/RemoteCategoryDataSource.kt
  data/category/src/main/java/org/sopt/data/category/repository/CategoryRepoImpl.kt
  data/link/.gitignore
  data/link/build.gradle.kts
  data/link/consumer-rules.pro
  data/link/src/main/AndroidManifest.xml
  data/link/src/main/java/org/sopt/data/link/datasource/RemoteLinkDataSource.kt
  data/link/src/main/java/org/sopt/data/link/di/RepositoryModule.kt
  data/link/src/main/java/org/sopt/data/link/repository/LinkRepoImpl.kt
  domain/category/src/main/java/org/sopt/domain/category/category/repository/CategoryRepository.kt
  domain/category/src/main/java/org/sopt/domain/category/category/usecase/GetCategoryAllUseCase.kt
  domain/link/.gitignore
  domain/link/build.gradle.kts
  domain/link/src/main/java/org/sopt/domain/link/repository/LinkRepository.kt
  domain/link/src/main/java/org/sopt/domain/link/usecase/DeleteLinkUseCase.kt
  domain/link/src/main/java/org/sopt/domain/link/usecase/PatchReadLinkUseCase.kt
  domain/link/src/main/java/org/sopt/domain/link/usecase/PostSaveLinkUseCase.kt
  feature/clip/src/main/res/navigation/nav_graph_clip.xml
  feature/home/src/main/java/org/sopt/home/HomeFragment.kt
  feature/maincontainer/src/main/java/org/sopt/maincontainer/MainActivity.kt
  feature/mypage/src/main/res/navigation/nav_graph_mypage.xml
  feature/savelink/build.gradle.kts
  feature/savelink/src/main/java/org/sopt/savelink/ui/SaveLinkFragment.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/SaveLinkSetClipFragment.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/SaveLinkViewModel.kt
  feature/savelink/src/main/res/layout/fragment_save_link.xml
  feature/savelink/src/main/res/navigation/nav_graph_save_link.xml
  settings.gradle.kts
Labels: ⭐ [FEAT], 삭

#83 Feature/#81 feat click event
  core/designsystem/src/main/res/values/strings.xml
  data-remote/link/src/main/java/org/sopt/remote/link/api/LinkService.kt
  data-remote/link/src/main/java/org/sopt/remote/link/datasource/RemoteLinkDataSourceImpl.kt
  data/link/src/main/java/org/sopt/data/link/repository/LinkRepoImpl.kt
  domain/link/src/main/java/org/sopt/domain/link/repository/LinkRepository.kt
  feature/clip/src/main/java/org/sopt/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/ItemTouchHelperListener.kt
  feature/clip/src/main/java/org/sopt/clip/LinkDTO.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipDetailFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipLinkAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipdetail/ClipLinkViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ItemTouchCallback.kt
  feature/clip/src/main/res/layout/fragment_clip.xml
  feature/clip/src/main/res/layout/item_clip_clip.xml
  feature/clip/src/main/res/layout/item_clip_detail_link.xml
  feature/clip/src/main/res/layout/item_clip_edit_clip.xml
  feature/clip/src/main/res/navigation/nav_graph_clip.xml
Labels: ⭐ [FEAT], 민영, 💟 [UI]

#112 Feature/#95 timer api
  core/designsystem/src/main/java/designsystem/components/toggle/ToasterToggle.kt
  core/model/src/main/java/org/sopt/model/timer/Repeat.kt
  core/model/src/main/java/org/sopt/model/timer/TimerData.kt
  core/network/src/main/java/org/sopt/network/authenticator/LinkMindAuthenticator.kt
  core/network/src/main/java/org/sopt/network/interceptor/AuthenticationIntercept.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/api/TimerService.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/model/request/RequestPatchTimerDto.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/model/request/RequestPostTimerDto.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/model/response/ResponseGetTimerDto.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/model/response/ResponseGetTimerPageDto.kt
  data-remote/timer/src/main/java/org/sopt/timerremote/source/TimerRemoteDataSourceImpl.kt
  data/timer/src/main/java/org/sopt/timer/repository/TimerRepositoryImpl.kt
  data/timer/src/main/java/org/sopt/timer/source/remote/TimerRemoteDataSource.kt
  domain/timer/src/main/java/org/sopt/timer/repository/TimerRepository.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/DeleteTimerUseCase.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/FormatRepeatListToIntList.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/FormatRepeatListToStringList.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/PatchAlarmUseCase.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/PatchTimerUseCase.kt
  domain/timer/src/main/java/org/sopt/timer/usecase/PostTimerUseCase.kt
  feature/mypage/src/main/java/org/sopt/mypage/settings/SettingsViewModel.kt
  feature/timer/src/main/java/org/sopt/timer/CompleteTimerAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/CompleteTimerViewHolder.kt
  feature/timer/src/main/java/org/sopt/timer/NotificationPermissionDialogFragment.kt
  feature/timer/src/main/java/org/sopt/timer/TimerFragment.kt
  feature/timer/src/main/java/org/sopt/timer/TimerViewModel.kt
  feature/timer/src/main/java/org/sopt/timer/WaitTimerAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/WaitTimerViewHolder.kt
  feature/timer/src/main/java/org/sopt/timer/model/Clip.kt
  feature/timer/src/main/java/org/sopt/timer/model/PickerItem.kt
  feature/timer/src/main/java/org/sopt/timer/model/TimePicker.kt
  feature/timer/src/main/java/org/sopt/timer/model/Timer.kt
  feature/timer/src/main/java/org/sopt/timer/modifytimer/ModifyTimerBottomSheetFragment.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/SetTimerViewModel.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/clipselect/ClipSelectAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/clipselect/ClipSelectViewHolder.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/clipselect/TimerClipSelectFragment.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/repeat/TimerRepeatAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/repeat/TimerRepeatFragment.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/repeat/TimerRepeatViewHolder.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/timepicker/ListUpdater.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/timepicker/NumberAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/timepicker/PickerViewHolder.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/timepicker/TimePeriodAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/timepicker/TimePickerFragment.kt
  feature/timer/src/main/res/layout/fragment_timer.xml
  feature/timer/src/main/res/layout/item_timer_wait.xml
  feature/timer/src/main/res/navigation/nav_graph_timer.xml
Labels: ⭐ [FEAT], 상욱

#126 [feat] : # cateogory api 완성
  data-remote/category/src/main/java/org/sopt/dataremote/category/api/CategoryService.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/datasource/RemoteCategoryDataSourceImpl.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/request/RequestCategoryDeleteDTO.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/request/RequestCategoryEditTitleDTO.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/response/ResponseLinksDTO.kt
  data/category/src/main/java/org/sopt/data/category/datasource/RemoteCategoryDataSource.kt
  data/category/src/main/java/org/sopt/data/category/repository/CategoryRepoImpl.kt
  domain/category/src/main/java/org/sopt/domain/category/category/repository/CategoryRepository.kt
  domain/category/src/main/java/org/sopt/domain/category/category/usecase/DeleteCategoryUseCase.kt
  feature/clip/src/main/java/org/sopt/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ItemTouchCallback.kt
Labels: ⭐ [FEAT], 삭

#127 Feature/#120 refactor bnv
  core/designsystem/src/main/res/layout/button_pop_up_linkmind.xml
  core/designsystem/src/main/res/layout/dialog_linkmind.xml
  feature/home/src/main/res/layout/fragment_home.xml
  feature/maincontainer/src/main/res/layout/activity_main.xml
  feature/mypage/src/main/res/layout/fragment_my.xml
  feature/timer/src/main/java/org/sopt/timer/settimer/SetTimerViewModel.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/clipselect/TimerClipSelectFragment.kt
  feature/timer/src/main/java/org/sopt/timer/settimer/timepicker/TimePickerFragment.kt
Labels: ✅ [MOD],  ♻️ [REFACTOR], 상욱

#132 Feature/#131 fix crash bug UI
  feature/clip/build.gradle.kts
  feature/clip/src/main/java/org/sopt/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/DeleteLinkBottomSheetFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ItemTouchCallback.kt
  feature/clip/src/main/java/org/sopt/clip/cliplink/ClipLinkFragment.kt
  feature/clip/src/main/java/org/sopt/clip/webview/WebViewFragment.kt
  feature/clip/src/main/res/layout/fragment_clip.xml
Labels: ⭐ [FEAT], 🚫 [DEL], 삭, 🔨 [FIX],  ♻️ [REFACTOR], ⏪️ [RENAME]

#133 Feature/#130 featfeatfeat
  core/datastore/src/main/java/org/sopt/datastore/datastore/SecurityDataStore.kt
  core/designsystem/src/main/res/layout/button_pop_up_linkmind.xml
  core/designsystem/src/main/res/values/strings.xml
  core/model/src/main/java/org/sopt/model/category/SearchResultList.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/datasource/RemoteSearchDataSourceImpl.kt
  data-remote/category/src/main/java/org/sopt/dataremote/category/response/ResponseSearchDto.kt
  data-remote/home/src/main/java/org/sopt/remote/home/response/ResponseWeekBestLinkDto.kt
  data/category/src/main/java/org/sopt/data/category/di/RepositoryModule.kt
  feature/clip/build.gradle.kts
  feature/clip/src/main/java/org/sopt/clip/search/SearchFragment.kt
  feature/clip/src/main/java/org/sopt/clip/search/SearchState.kt
  feature/clip/src/main/java/org/sopt/clip/search/SearchViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/search/adapter/ClipResultAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/search/adapter/LinkResultAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/search/util/TextStylerExt.kt
  feature/clip/src/main/java/org/sopt/clip/search/viewholder/ClipResultViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/search/viewholder/LinkResultViewHolder.kt
  feature/clip/src/main/res/layout/fragment_search.xml
  feature/clip/src/main/res/layout/item_search_result_clip.xml
  feature/clip/src/main/res/layout/item_search_result_clip_link.xml
  feature/clip/src/main/res/navigation/nav_graph_clip.xml
  feature/home/src/main/java/org/sopt/home/HomeViewModel.kt
  feature/login/src/main/java/org/sopt/login/onboarding/LoginActivity.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/ClipResultDummy.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/LinkResultDummy.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/MatchingResult.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/SearchViewModel.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/adapter/ClipResultAdapter.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/ClipResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/search/viewholder/LinkResultViewHolder.kt
  feature/mypage/src/main/java/org/sopt/mypage/settings/SettingsFragment.kt
  feature/mypage/src/main/res/layout/fragment_my.xml
  feature/mypage/src/main/res/layout/fragment_settings.xml
  feature/mypage/src/main/res/navigation/nav_graph_mypage.xml
  feature/mypage/src/main/res/values/strings.xml
  feature/timer/build.gradle.kts
  feature/timer/src/main/java/org/sopt/timer/TimerFragment.kt
  feature/timer/src/main/java/org/sopt/timer/TimerViewModel.kt
  feature/timer/src/main/res/layout/fragment_timer.xml
Labels: ⭐ [FEAT], 🚫 [DEL], 🚚 [MOVE], ✅ [MOD], 💟 [UI], 🔨 [FIX],  ♻️ [REFACTOR], 🛠️ [CHORE], 상욱

#139 Refactor/#134 클립 수정 및 전반적인 리팩토링
  core/designsystem/src/main/java/designsystem/components/dialog/LinkMindDialog.kt
  core/designsystem/src/main/res/layout/dialog_linkmind.xml
  core/designsystem/src/main/res/values/strings.xml
  data-remote/category/src/main/java/org/sopt/dataremote/category/response/ResponseCategoryDuplicateDTO.kt
  feature/clip/src/main/java/org/sopt/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/ClipsDTO.kt
  feature/clip/src/main/java/org/sopt/clip/LinkDTO.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clip/ClipViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditFragment.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ClipEditViewModel.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ItemTouchCallback.kt
  feature/clip/src/main/java/org/sopt/clip/clipedit/ItemTouchHelperListener.kt
  feature/clip/src/main/java/org/sopt/clip/cliplink/ClipLinkFragment.kt
  feature/clip/src/main/java/org/sopt/clip/cliplink/ClipLinkViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/cliplink/ClipLinkViewModel.kt
  feature/clip/src/main/res/layout/fragment_clip.xml
  feature/clip/src/main/res/layout/fragment_clip_edit.xml
  feature/clip/src/main/res/layout/fragment_clip_link.xml
  feature/home/src/main/java/org/sopt/home/HomeFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/my/MyFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/my/MyPageViewModel.kt
  feature/mypage/src/main/java/org/sopt/mypage/settings/SettingsFragment.kt
  feature/mypage/src/main/java/org/sopt/mypage/settings/SettingsViewModel.kt
  feature/mypage/src/main/res/layout/fragment_settings.xml
  feature/savelink/src/main/java/org/sopt/savelink/ui/savelink/SaveLinkFragment.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/savelinksetclip/SaveLinkSetClipFragment.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/savelinksetclip/SetLinkContract.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/savelinksetclip/SetLinkViewModel.kt
  feature/savelink/src/main/java/org/sopt/savelink/ui/viewholder/ClipSelectViewHolder.kt
  feature/timer/src/main/java/org/sopt/timer/TimerFragment.kt
  feature/timer/src/main/java/org/sopt/timer/WaitTimerAdapter.kt
  feature/timer/src/main/java/org/sopt/timer/WaitTimerViewHolder.kt
Labels: ⭐ [FEAT], 🚫 [DEL], 삭,  ♻️ [REFACTOR], ⏪️ [RENAME], 🛠️ [CHORE]

#138 [ui] : #136 webview 주소 bar 수정
  feature/clip/src/main/res/layout/fragment_webview.xml
Labels: 채은, ✅ [MOD], 💟 [UI]

#141 Feature/#134 refactor clipdetail
  data-remote/link/src/main/java/org/sopt/remote/link/datasource/RemoteLinkDataSourceImpl.kt
  data/link/src/main/java/org/sopt/data/link/datasource/RemoteLinkDataSource.kt
  data/link/src/main/java/org/sopt/data/link/repository/LinkRepoImpl.kt
  domain/link/src/main/java/org/sopt/domain/link/repository/LinkRepository.kt
  domain/link/src/main/java/org/sopt/domain/link/usecase/PatchReadLinkUseCase.kt
  feature/clip/build.gradle.kts
  feature/clip/src/main/java/org/sopt/clip/cliplink/ClipLinkFragment.kt
  feature/clip/src/main/java/org/sopt/clip/cliplink/ClipLinkViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/search/SearchFragment.kt
  feature/clip/src/main/java/org/sopt/clip/search/adapter/ClipResultAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/search/adapter/LinkResultAdapter.kt
  feature/clip/src/main/java/org/sopt/clip/search/viewholder/ClipResultViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/search/viewholder/LinkResultViewHolder.kt
  feature/clip/src/main/java/org/sopt/clip/webview/WebViewFragment.kt
  feature/clip/src/main/java/org/sopt/clip/webview/WebViewViewModel.kt
  feature/clip/src/main/res/layout/fragment_clip_link.xml
  feature/clip/src/main/res/layout/fragment_webview.xml
  feature/clip/src/main/res/layout/item_clip_link.xml
  feature/clip/src/main/res/xml/filter_motion_scene.xml
  feature/home/src/main/java/org/sopt/home/HomeFragment.kt
Labels: ⭐ [FEAT], ✅ [MOD], 💟 [UI],  ♻️ [REFACTOR], 상욱

#153 Update README.md
  README.md
Labels: 📃 [DOCS]
